auto-save-list/
bookmarks
elpa/
eshell/
url/
transient/
tramp
recentf
projectile-bookmarks.eld
projects
history
custom.el
eln-cache/
places
tmp/
straight/
.DS_Store
.cache/
.lsp-session-v1
ielm-history.eld
semanticdb/
