/bookmarks
/eshell/
/url/
/tramp
/recentf
/projectile-bookmarks.eld
/custom.el
/places
/tmp/
/straight/
/.DS_Store
/.lsp-session-v1
/ielm-history.eld
/semanticdb/
/.cache/
/auto-save-list/
/eln-cache/
/elpa/
/eshell/
/history
/projects
/transient/
/tree-sitter/
/emacs-backup/